# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/
.idea/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
generated_plugin_registrant.dart

# Android
android/.gradle/
android/captures/
android/gradle.properties

# iOS
ios/Flutter/Flutter.podspec
ios/Pods/
ios/.symlinks/

# VS Code & IntelliJ
.vscode/
*.iml
*.ipr
*.iws

# Others
*.log
*.lock
